[submodule "lib/qt-json/src"]
	path = lib/qt-json/src
	url = git://github.com/ereilin/qt-json.git
[submodule "lib/mologie-detours/src"]
	path = lib/mologie-detours/src
	url = git://github.com/kimperator/MologieDetours.git
